<footer id="footer">
    <div class="footer-top">
        <div class="container">
            <div class="row">

                <div class="col-lg-3 col-md-6 footer-info">
                    <img src="img/logo.png" alt="TheEvenet">
                    <p>We would like to thank our beloved instructor for giving us this project so we can Learn more
                        about css designing and enhancing our skill about Web Development</p>
                </div>

                <div class="col-lg-3 col-md-6 footer-links">
                    <h4>Different Colleges</h4>
                    <ul>
                        <li><i class="fa fa-angle-right"></i> <a
                                href="http://web1.aup.edu.ph/academics/colleges/college-of-business/">College of
                                Bussiness</a></li>
                        <li><i class="fa fa-angle-right"></i> <a
                                href="http://web1.aup.edu.ph/academics/colleges/college-of-health/">College of
                                Health</a></li>
                        <li><i class="fa fa-angle-right"></i> <a
                                href="http://web1.aup.edu.ph/academics/colleges/college-of-medicine/">College of
                                Medicine</a></li>
                        <li><i class="fa fa-angle-right"></i> <a
                                href="http://web1.aup.edu.ph/academics/colleges/college-of-theology/">College of
                                Theology</a></li>
                        <li><i class="fa fa-angle-right"></i> <a
                                href="http://web1.aup.edu.ph/college-of-arts-and-humanities-2/">College of Arts and
                                Humanities</a></li>
                        <li><i class="fa fa-angle-right"></i> <a
                                href="http://web1.aup.edu.ph/academics/colleges/college-of-nursing/">College of
                                Nursing</a></li>
                        <li><i class="fa fa-angle-right"></i> <a
                                href="http://web1.aup.edu.ph/college-of-education/">College of Education</a></li>
                        <li><i class="fa fa-angle-right"></i> <a
                                href="http://web1.aup.edu.ph/academics/colleges/college-of-dentistry/">College of
                                Dentistry</a></li>
                        <li><i class="fa fa-angle-right"></i> <a
                                href="http://web1.aup.edu.ph/academics/colleges/college-of-science-and-technology/">College
                                of Science & Technology</a></li>
                    </ul>
                </div>


                <div class="col-lg-3 col-md-6 footer-links">
                    <h4>AUP Student Links</h4>
                    <ul>
                        <li><i class="fa fa-angle-right"></i> <a href="http://web1.aup.edu.ph/student-handbook/">Student
                                Handbook</a></li>
                        <li><i class="fa fa-angle-right"></i> <a href="https://a.aolis.aup.edu.ph/personal/">Aolis
                                Personal</a></li>
                        <li><i class="fa fa-angle-right"></i> <a
                                href="http://myauplifebook.aup.edu.ph/v.3/login/index.php">My Aup life book</a></li>
                        <li><i class="fa fa-angle-right"></i> <a
                                href="http://myauplifebook.aup.edu.ph/aoa/application/login.php?error=Please%20login."></a>Online
                            Application</li>
                        <li><i class="fa fa-angle-right"></i> <a href="http://myauplifebook.aup.edu.ph/apps/aup/">AUP
                                Apps</a></li>
                        <li><i class="fa fa-angle-right"></i> <a href="http://aolis.aup.edu.ph/rosters/">AUP
                                Roosters</a></li>
                        <li><i class="fa fa-angle-right"></i> <a href="http://web1.aup.edu.ph/#">AUP Official Site</a>
                        </li>
                    </ul>
                </div>


                <div class="col-lg-3 col-md-6 footer-contact">
                    <h4>Contact Us</h4>
                    <p>
                        Adventist University of the Philippines <br>
                        Puting Kahoy Silang Cavite 4118<br>
                        Philippines <br>
                        <strong>Phone:</strong> +63 995-032-6789<br>
                        <strong>Email:</strong> infoAUP@gmail.com<br>
                    </p>

                    <div class="social-links">
                        <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
                        <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
                        <a href="#" class="instagram"><i class="fa fa-instagram"></i></a>
                        <a href="#" class="google-plus"><i class="fa fa-google-plus"></i></a>
                        <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
                    </div>

                </div>

            </div>
        </div>
    </div>

    <div class="container">
        <div class="copyright">
            &copy; Copyright <strong>TheEvent</strong>. All Rights Reserved 2020
        </div>
        <div class="credits">
            Designed by <a href="">Professional Elective II Students</a>
        </div>
    </div>
</footer>