<!-- header section -->
<header id="header">

    <div class="container">
  
      <div id="logo" style="float: left;">
        <a href="#intro" class="scrollto">
          <img src="assets/img/logo.png" alt="" title="">
        </a>
      </div>
  
      <nav id="nav-menu-container">
        <ul class="nav-menu">
          <li class="menu-active"><a href="#intro">Home</a></li>
        </ul>
      </nav>
    </div>
  </header>
<!-- end header serction -->

<div class="hero">
    <div class="form-box">
        <div class="btn-box">
            <div id="btn"></div>
            <button type="button" class="toggle-btn" onclick="login()">Log in</button>
            <button type="button" class="toggle-btn" onclick="register()">Sign Up</button>
        </div>


        <form class="input-group" id="loginform">
            <input type="text" placeholder="Username" required>
            <input type="password" placeholder="Password" required>
            <input type="submit" name="signup" id="signup" class="form-submit" value="Log In" />

        </form>

        <form class="input-group" id="registerform">
            <input type="text" placeholder="First Name" required>
            <input type="text" placeholder="Last Name" required>
            <input type="text" placeholder="Username" required>
            <input type="password" placeholder="Password" required>
            <input type="submit" name="signup" id="signup" class="form-submit" value="Register" />

        </form>
    </div>

    