<section id="buy-tickets" class="section-with-bg wow fadeInUp">
    <div class="container">

        <div class="section-header">
            <h2>History</h2>
            <p>Adventist University of the Philippines.</p>
        </div>

        <div class="row">
            <div class="col-lg-4">
                <div class="card mb-5 mb-lg-0">
                    <div class="card-body">
                        <h5 class="card-title text-muted text-uppercase text-center">Adventist University of the
                            Philippines</h5>
                        <h6 class="card-price text-center">(AUP)</h6>
                        <hr>
                        <ul class="fa-ul">
                            <li><span class="fa-li"><i class="fa fa-check"></i></span>Academic Excellence</li>
                            <li><span class="fa-li"><i class="fa fa-check"></i></span>Christlike Character</li>
                            <li><span class="fa-li"><i class="fa fa-check"></i></span>Exemplary Service</li>
                        </ul>
                        <hr>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card mb-5 mb-lg-0">
                    <div class="card-body">
                        <h5 class="card-title text-muted text-uppercase text-center">Adventist University of the
                            Philippines</h5>
                        <h6 class="card-price text-center">Humble Begginings</h6>
                        <hr>
                        <ul class="fa-ul">
                            <li><span class="fa-li"><i class="fa fa-check"></i></span>Adventist University of the
                                Philippines(AUP) traces its roots and humble beginnings to the missionary-oriented
                                people who had a strong desire in developing young people for usefulness in life, more
                                specifically in preparing efficient workers for the different branches of Christian
                                service and ultimately fo citezenship in the Kingdom of God.</li>
                        </ul>
                        <hr>
                    </div>
                </div>
            </div>
            <!-- Pro Tier -->
            <div class="col-lg-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title text-muted text-uppercase text-center">Adventist University of the
                            Philippines</h5>
                        <h6 class="card-price text-center">The Newly Registered AUP</h6>
                        <hr>
                        <ul class="fa-ul">
                            <li><span class="fa-li"><i class="fa fa-check"></i></span>On July 8, 2009 The Securities and
                                Exchange Commision(SEC) approved the Articles of Incoporation and By-Laws of the new
                                AUP, and was thus granted a Certificate of Incorporation under Company Registration NO.
                                CN200909866 for a term of fifty(50) years. </li>
                        </ul>
                        <hr>

                    </div>
                </div>
            </div>
        </div>

    </div>
</section>