<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <h2>About TheEvent</h2>
                <p>TheEvent is a page  where you can find our university annual Events. So you can take a look at events
                    that you did'nt make and  also if you want some event memories whether it is happy, funny, sad, awful etc. that makes
                    you remember. 
                </p>
                <p> This is a team presentation of the Information Technology Student from the Adventist University of The Philippines
                    for their project website in Their subject Advance Web Development.</p>
            </div>
            <div class="col-lg-3">
                <h3>Where</h3>
                <p>IT LAB, College Of Business Adventist University of The Philippines, Puting Kahoy Silang Cavite</p>
            </div>
            <div class="col-lg-3">
                <h3>When</h3>
                <p>First Semester
                    <br>2019
                </p>
            </div>
        </div>
    </div>
</section>