<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <h2>About the Event</h2>
                <p> Presentation of the Information Technology Student from the Adventist University of The Philippines
                    for their project website in Their subject Advance Web Development</p>
            </div>
            <div class="col-lg-3">
                <h3>Where</h3>
                <p>IT LAB, College Of Business Adventist University of The Philippines, Puting Kahoy Silang Cavite</p>
            </div>
            <div class="col-lg-3">
                <h3>When</h3>
                <p>Sunday<br>9-12Pm</p>
            </div>
        </div>
    </div>
</section>