<section id="hotels" class="section-with-bg wow fadeInUp">

    <div class="container">
        <div class="section-header">
            <h2>Department</h2>
            <p>Here are some other events</p>
        </div>

        <div class="row">

            <div class="col-lg-4 col-md-6">
                <div class="hotel">
                    <div class="hotel-img">
                        <img src="assets/img/hotels/cob.png" alt="Hotel 1" class="img-fluid">
                    </div>
                    <h3><a href="#">college of business</a></h3>


                    <p>Schedule: October 25, 27-31, 2019</p>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="hotel">
                    <div class="hotel-img">
                        <img src="assets/img/hotels/dent.jpg" alt="Hotel 2" class="img-fluid">
                    </div>
                    <h3><a href="#">college of dentistry</a></h3>


                    <p>Schedule: February 10, 2018</p>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="hotel">
                    <div class="hotel-img">
                        <img src="assets/img/hotels/psy.jpg" alt="Hotel 3" class="img-fluid">
                    </div>
                    <h3><a href="#">department of psychology</a></h3>


                    <p>Date: Dec. 4, 2019
                        Time: 8:30 a.m.</p>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="hotel">
                    <div class="hotel-img">
                        <img src="assets/img/hotels/cah.jpg" alt="Hotel 3" class="img-fluid">
                    </div>
                    <h3><a href="#">college of Arts and Humanities</a></h3>


                    <p>Date: nov. 22, 2019
                        Time: 9:00-12NN</p>
                </div>
            </div>
        </div>
    </div>
</section>