<section id="venue" class="wow fadeInUp">

    <div class="container-fluid">

        <div class="section-header">
            <h2>Event Venue</h2>
            <p>Event venue location info and gallery</p>
        </div>

        <div class="row no-gutters">
            <div class="col-lg-6 venue-map">
                <a href="assets/img/aup-gallery/aup.jpg" class="venobox" data-gall="aup-gallery">
                    <img src="assets/img/aup-gallery/aup.jpg" alt="" class="img-fluid">
                </a>
            </div>
            <div class="col-lg-6 venue-info">
                <div class="row justify-content-center">
                    <div class="col-11 col-lg-8">
                        <h3>Adventist University of the Philipinnes Events and Venues</h3>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="container-fluid aup-gallery-container">
        <div class="row no-gutters">

            <div class="col-lg-3 col-md-4">
                <div class="venue-gallery">
                    <a href="assets/img/aup-gallery/1.jpg" class="venobox" data-gall="aup-gallery">
                        <img src="assets/img/aup-gallery/1.jpg" alt="" class="img-fluid">
                    </a>
                </div>
            </div>

            <div class="col-lg-3 col-md-4">
                <div class="venue-gallery">
                    <a href="img/aup-gallery/2.jpg" class="venobox" data-gall="aup-gallery">
                        <img src="assets/img/aup-gallery/2.jpg" alt="" class="img-fluid">
                    </a>
                </div>
            </div>

            <div class="col-lg-3 col-md-4">
                <div class="venue-gallery">
                    <a href="assets/img/aup-gallery/3.jpg" class="venobox" data-gall="aup-gallery">
                        <img src="assets/img/aup-gallery/3.jpg" alt="" class="img-fluid">
                    </a>
                </div>
            </div>

            <div class="col-lg-3 col-md-4">
                <div class="venue-gallery">
                    <a href="assets/img/aup-gallery/6.jpg" class="venobox" data-gall="aup-gallery">
                        <img src="assets/img/aup-gallery/6.jpg" alt="" class="img-fluid">
                    </a>
                </div>
            </div>

            <div class="col-lg-3 col-md-4">
                <div class="venue-gallery">
                    <a href="assets/img/aup-gallery/5.jpg" class="venobox" data-gall="aup-gallery">
                        <img src="assets/img/aup-gallery/5.jpg" alt="" class="img-fluid">
                    </a>
                </div>
            </div>

            <div class="col-lg-3 col-md-4">
                <div class="venue-gallery">
                    <a href="assets/img/aup-gallery/4.jpg" class="venobox" data-gall="aup-gallery">
                        <img src="assets/img/aup-gallery/4.jpg" alt="" class="img-fluid">
                    </a>
                </div>
            </div>

            <div class="col-lg-3 col-md-4">
                <div class="venue-gallery">
                    <a href="assets/img/aup-gallery/7.jpg" class="venobox" data-gall="aup-gallery">
                        <img src="assets/img/aup-gallery/7.jpg" alt="" class="img-fluid">
                    </a>
                </div>
            </div>

            <div class="col-lg-3 col-md-4">
                <div class="venue-gallery">
                    <a href="assets/img/aup-gallery/8.jpg" class="venobox" data-gall="aup-gallery">
                        <img src="assets/img/aup-gallery/8.jpg" alt="" class="img-fluid">
                    </a>
                </div>
            </div>

        </div>
    </div>
</section>