<!-- header section -->
<app-header></app-header>
<!-- end header serction -->

<!-- section introduction -->
<app-intro-section></app-intro-section>
<!-- end introduction section -->

<!--section-main start-->
<app-section-main></app-section-main>
<!--section-main end-->

<!--app-sched-section start-->
<app-sched-section></app-sched-section>
<!--app-sched-section end-->

<!--app-venue-section start -->
<app-venue-section></app-venue-section>
<!--app-venue-section end-->

<!--app-hotel-section start-->
<app-hotels-section></app-hotels-section>
<!--app-hotel-section end-->


<app-gallery-section></app-gallery-section>


<app-history-section></app-history-section>

<app-footer></app-footer>



<router-outlet></router-outlet>