<!---PRESENTER SECTION-->>
<!-- <section id="speakers" class="wow fadeInUp">
    <div class="container">
      <div class="section-header">
        <h2>Event Presenters/Creators</h2>
        <p>Here are the faces of the Presenters/Creators</p>
      </div>

      <div class="row">
        <div class="col-lg-4 col-md-6">
          <div class="speaker">
            <img src="assets/img/Presenters/jude.jpg" alt="Speaker 1" class="img-fluid">
            <div class="details">
              <h3><a href="speaker-details.html">Jude D. Santillan</a></h3>
              <p>"Apex-Predator"</p>
              <div class="social">
                <a href="https://www.instagram.com/santillanjudes/"><i class="fa fa-instagram"></i></a>
                <a href="https://www.facebook.com/iamjudes"><i class="fa fa-facebook"></i></a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="speaker">
            <img src="assets/img/Presenters/renato.jpg" alt="Speaker 2" class="img-fluid">
            <div class="details">
              <h3><a href="speaker-details.html">Renato Mojica Dinco III</a></h3>
              <p>Time is Gold</p>
              <div class="social">
                <a href="https://www.instagram.com/janjen.dinco/"><i class="fa fa-instagram"></i></a>
                <a href="https://web.facebook.com/janjen.dinco"><i class="fa fa-facebook"></i></a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="speaker">
            <img src="assets/img/Presenters/clark.jpg" alt="Speaker 3" class="img-fluid">
            <div class="details">
              <h3><a href="speaker-details.html">Clark Steven Dela Cruz</a></h3>
              <p>Masarap maging Single, Kaya kung single ka Masarap ka <3</p>
              <div class="social">
                <a href=""><i class="fa fa-instagram"></i></a>
                <a href=""><i class="fa fa-facebook"></i></a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="speaker">
            <img src="assets/img/Presenters/rony.jpg" alt="Speaker 4" class="img-fluid">
            <div class="details">
              <h3><a href="speaker-details.html">Rony Vergara</a></h3>
              <p>bsit | 18 | single ready to mingle</p>
              <div class="social">
                <a href="https://www.instagram.com/ironyvergara18/"><i class="fa fa-instagram"></i></a>
                <a href="https://www.facebook.com/rony.vergarady"><i class="fa fa-facebook"></i></a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
         
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="speaker">
            <img src="assets/img/Presenters/chris.jpg" alt="Speaker 6" class="img-fluid">
            <div class="details">
              <h3><a href="speaker-details.html">Chrisjan Angelino</a></h3>
              <p>Extra</p>
              <div class="social">
                <a href=""><i class="fa fa-twitter"></i></a>
                <a href=""><i class="fa fa-facebook"></i></a>
                <a href=""><i class="fa fa-google-plus"></i></a>
                <a href=""><i class="fa fa-linkedin"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </section> -->

  <section id="team" class="wow fadeInUp">
    <div class="container">
        <div class="section-header">
            <h2>Event Presenters/Creators</h2>
            <p>Here are the faces of the Presenters/Creators</p>
        </div>
        
        <div class="row">
            <div class="speaker">
                <img src="assets/img/Presenters/rex.jpg" alt="Speaker 5" class="img-fluid">
                <div class="details">
                  <h3><a href="speaker-details.html">Rex Edward Torres</a></h3>
                  <p>A creative man is motivated by the desire to achieve, not by the desire to beat others</p>
                  <div class="social">
                    <a href="https://www.instagram.com/rexedwardtorres/"><i class="fa fa-instagram"></i></a>
                    <a href="https://www.facebook.com/rexedward.torres"><i class="fa fa-facebook"></i></a>
                  </div>
                </div>
              </div>
        </div>

    </div>
  </section>