<section id="schedule" class="section-with-bg">
    <div class="container wow fadeInUp">
        <div class="section-header">
            <h2>Event Schedules</h2>
            <p>Here is our event schedule</p>
        </div>

        <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" href="#day-1" role="tab" data-toggle="tab">December 4, 2019</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#day-2" role="tab" data-toggle="tab">December 4, 2019</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#day-3" role="tab" data-toggle="tab">January 6-7, 2020</a>
            </li>
        </ul>

        <h3 class="sub-heading">This is the schedule of event of the month of December to January.</h3>

        <div class="tab-content row justify-content-center">
            <!-- sched 123 here -->
            <div role="tabpanel" class="col-lg-9  tab-pane fade" id="day-3">

                <div class="row schedule-item">
                    <div class="col-md-2"><time>Step 1</time></div>
                    <div class="col-md-10">
                        <div class="speaker">
                            <img src="assets/img/speakers/2.jpg" alt="Hubert Hirthe">
                            /src/assets/img/speakers/2.jpg
                        </div>
                        <h4>Interview <span></span></h4>
                        <p>Interview and Orientation at the Student Services Center(SSC) and submit all you document.
                        </p>
                    </div>
                </div>

                <div class="row schedule-item">
                    <div class="col-md-2"><time>Step 2</time></div>
                    <div class="col-md-10">
                        <div class="speaker">
                            <img src="assets/img/speakers/3.jpg" alt="Cole Emmerich">
                        </div>
                        <h4>Obtain endorsement slip and ID number. <span></span></h4>
                        <p>Present filled up application form to the Foreign Student Units in window 3.</p>
                    </div>
                </div>

                <div class="row schedule-item">
                    <div class="col-md-2"><time>Step 3</time></div>
                    <div class="col-md-10">
                        <div class="speaker">
                            <img src="assets/img/speakers/1.jpg" alt="Brenden Legros">
                        </div>
                        <h4>Pay<span></span></h4>
                        <p>Pay the required Admission fees to the Cashier at window 9.</p>
                    </div>
                </div>

                <div class="row schedule-item">
                    <div class="col-md-2"><time>Step 4</time></div>
                    <div class="col-md-10">
                        <div class="speaker">
                            <img src="assets/img/speakers/4.jpg" alt="Jack Christiansen">
                        </div>
                        <h4>Medical exam <span></span></h4>
                        <p>Proceed to the Health Services Department for Medical exam.</p>
                    </div>
                </div>

                <div class="row schedule-item">
                    <div class="col-md-2"><time>Step 5</time></div>
                    <div class="col-md-10">
                        <div class="speaker">
                            <img src="assets/img/speakers/5.jpg" alt="Alejandrin Littel">
                        </div>
                        <h4>Take Exam<span></span></h4>
                        <p>Take Entrance Exam at the Guidance Services Center.</p>
                    </div>
                </div>

                <div class="row schedule-item">
                    <div class="col-md-2"><time>Step 6</time></div>
                    <div class="col-md-10">
                        <div class="speaker">
                            <img src="assets/img/speakers/6.jpg" alt="Willow Trantow">
                        </div>
                        <h4>Proceed to library<span></span></h4>
                        <p>Proceed to the university Library and make MyAupLifebook and follow the step on the generated
                            Registration guide form.</p>
                    </div>
                </div>

            </div>
        </div>

    </div>

</section>